*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
nav{
  width: 100%;
  height: 77px;
  line-height: 75px;
  padding: 0px 100px;
  position: relative;
  background-image: linear-gradient(#033747, #012733);
  z-index: 1;
}
nav .logo p{
  font-size: 30px;
  font-weight: semi-bold;
  float: left;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
nav ul .locations{
  float: left;
  display: inline;
}
nav ul .create{
  float: right;
  display: inline;
}
nav li{
  display: inline-block;
  list-style: none;
}
nav li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 10px;
  color: white;
  text-decoration: none;
}
nav li a:hover{
  color: #ff8c69;
  transition: all 0.4s ease 0s;
}
.header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,28,28,1) 0%, rgba(0,212,255,1) 100%);
  padding: 20px;
  text-align: center;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}


.canvas{
  align-items: center; 
  position: relative;
  display: flex;
  margin-left: 0;
  z-index: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 3px 18px;
  text-decoration: none;
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over the dropdown link */
.dropdown:hover .dropdown-content {
  display: block;
}
.clock{
  position: absolute;
  z-index: 999;
  top: 46px;
  right: 20px;
  border-radius: 10px;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 2.5px white, 0 0 2.5px white, 0 0 2.5px white, 0 0 2.5px white;
}
.temperature{
  position: absolute;
  z-index: 999;
  top: 46px;
  left: 20px;
  border-radius: 10px;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 2.5px white, 0 0 2.5px white, 0 0 2.5px white, 0 0 2.5px white;
}
.weather-icon{
  position: absolute;
  z-index: 999;
  top: 19px;
  left: 112px;
  display: flex;
  height: 90px;
  width: 90px;
}
#text-box {
  position: absolute;
  height: 50px;
  width: 200px;
  top: 250px;
  left: 10px;
}


.container {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 5px;
  display: flex;
}

.text-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
  font-weight: 600;
}

.text-box {
  margin: 5px;
  padding: 5px;
  border: 1px solid #333;
}

#submit-button {
  margin-left: auto; /* Push the button to the right */
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #0074d9;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

button:hover {
    background-color: #0056b3;
}